@use '../../partials/mixins' as *;

.inventory-list {
  padding: 0;
  &__guide-container {
    background-color: #f7f8f9;
  }
  &__guide {
    display: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 2rem;
    @include tablet {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    @include desktop {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }
  &__guide-item {
    font-size: 12px;
    width: 20%;
    color: #5c667e;
    font-weight: 600;
    display: flex;
    align-items: center;
    &--inventory-item {
      @include desktop {
        width: 25%;
      }
    }
    &--category {
      @include desktop {
        width: 20%;
      }
    }
    &--status {
      @include desktop {
        width: 20%;
      }
    }
    &--qty {
      @include tablet {
        width: 20%;
      }
    }
    &--warehouse {
      width: 20%;
      @include desktop {
        width: 20%;
      }
    }
    &--actions {
      width: 10%;
      justify-content: flex-end;
      @include desktop {
        width: 10%;
      }
    }
  }
  &__guide-item-button {
    background: none;
    border: none;
    height: 0.75rem;
    margin-left: 0.55875rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__guide-item-button-icon {
    height: 0.75rem;
  }
}
