@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.warehouse-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f8f9;
    position: relative;
    padding-bottom: 5rem;
    &__container {
      position: relative;
      width: calc(100% - 2rem);
      background-color: #fff;
      flex-grow: 1;
      margin: -4rem 0 0;
      box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
      border-radius: 3px;
      @include tablet{
        width: calc(100% - 4rem);
        max-width: 1020px;
        margin: -5.75rem auto;
      }
      @include desktop {
        flex-grow: 0;
        width: 1020px;
        margin: -5.75rem auto;
      }
    }
  
  &__back-link {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    @include tablet {
      margin-left: 2.25rem;
    }
  }
  &__title {
    color: #13182c;
    font-size: 1.75rem;
    font-weight: 600;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__title-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #bdc5d5;
    margin-bottom: 1rem;
    @include tablet {
      justify-content: flex-start;
      margin-bottom: 1.5rem;
    }
  }
  &__form {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__warehouse-details-container {
    border-bottom: 1px solid #bdc5d5;
    margin-bottom: 1rem;
    @include tablet {
      margin: 0;
      border-bottom: none;
      border-right: 1px solid #bdc5d5;
      flex-grow: 1;
    }
  }
  &__warehouse-details-inner-container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__contact-details-container {
    @include tablet {
      flex-grow: 1;
    }
  }
  &__contact-details-inner-container {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__section-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #13182c;
    padding-bottom: 1.5rem;
    @include tablet {
      padding-bottom: 2rem;
      font-size: 1.5rem;
    }
  }
  &__label {
    font-size: 0.8125rem;
    font-weight: 600;
    padding-bottom: 0.25rem;
    @include tablet {
      padding-bottom: 0.5rem;
      font-size: 0.875rem;
    }
  }
  &__input {
    font-size: 0.8125rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: 1px solid #bdc5d5;
    &:focus {
      outline: none;
    }
  }
  &__buttons-container {
    background-color: #f7f8f9;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-end;
      margin-top: 1.5rem;
    }
  }
  &__button {
    width: 8.6875rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    font-size: 0.8125rem;
    &:hover {
      cursor: pointer;
    }
    @include tablet {
      font-size: 0.875rem;
    }
    &--cancel {
      background: white;
      border: 1px solid #bdc5d5;
      color: #5c667e;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        width: 4.5rem;
      }
    }
    &--save {
      color: white;
      background: #2e66e6;
      border: none;
      margin-left: 1rem;
      @include tablet {
        width: 3.75rem;
      }
    }
  }
}
