@use "./mixins" as *;


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 1.25rem;
    height: 2.25rem;
    padding: 0 1rem;
    width: 100%;

    @include tablet{
        height: 2.375rem;
    }
    @include desktop{
        
    }

}