// Colour Variables
$primary-text: #13182c;
$primary-interact: #2e66e5;
$placeholder: #5c667e;
$border-color: #bdc5d5;
$nav-bkg: #232940;
$main-bkg: #f7f8f9;
$support-success: #158463;
$support-error: #c94515;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
